//タイトルの装飾
.title-skyblue {
    font: {
      size: $titleFontSize;
      style: italic;
    }
    color: $acsentColor;
    margin-bottom: 3vw;
    //タブレット版
    @include tb {
      margin-bottom: 3rem;
    }
    //モバイル版
    @include mb {
      font-size: $mbTitleFontSize;
      margin-bottom: 2rem;
    }
  }

.title {
  font: {
      size: $titleFontSize;
      style: italic;
  }
  color: $titleFontColor;
  margin-bottom: 3vw;
  //タブレット版
  @include tb {
    margin-bottom: 3rem;
  }
  //モバイル版
  @include mb {
    font-size: $mbTitleFontSize;
    margin-bottom: 2rem;
  }
}
