//work一覧表示の装飾
.section-work {
  padding: 0 100px;
  margin-bottom: 10vw;
  &__contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    &__linkbox {
      width: 35%;
      margin-right: 4vw;
      margin-bottom: 8vw;
      text-decoration: none;
      color: #333;
      img {
        width: 100%;
        margin: 0 auto;
      }
      &__namecardimg {
        height: 80%;
      }
      p {
        font: {
          size: 1.5vw;
          weight: 500;
        }
        padding-top: 1.3vw;
      }
    }
  }
  .btnarrow {
    margin: 0 0 0 auto;
  }
  @include tb {
    &__contain {
      &__linkbox {
        width: 35%;
        margin-bottom: 40px;
      }
    }
  }
  @include mb {
    padding: 0 50px;
    &__contain {
      flex-direction: column;
      &__linkbox {
        width: 100%;
        margin-bottom: 40px;
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}
  