$bgColor: #fdffff;
$acsentColor: #c1e4e9;
$pointColor: #192f60;
$titleFontSize: 8vw;
$mbTitleFontSize: 4rem;

$titleFontColor: #b4b4b4;

@mixin pc {
  @media(min-width: 700px) {
    @content;
  }
}
@mixin tb {
  @media(min-width: 700px)  and (max-width: 1000px) {
    @content;
  }
}
@mixin mb {
  @media(max-width: 700px) {
    @content;
  }
}
//タイトルの装飾
@import "title";
//矢印リンクの装飾
@import "linkarrow";

//プロフィールの装飾
.section-top {
  padding: 5vw 100px 0 100px;
  margin-bottom: 10vw;
  &__profile {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    img {
      width: 20%;
      border-radius: 20px;
    }
    &__description {
      width: 75%;
      h2 {
        font: {
          size: 1.8vw;
          weight: 600;
        }
        padding: 1rem 1rem;
        border-left: solid 10px $acsentColor;
        margin-bottom: 15px;
      }
      &__first {
        font: {
          size: 1.3vw;
          weight: 400;
        }
        line-height: 2vw;
        margin-bottom: 20px;
      }
      &__second {
        font: {
          size: 1.3vw;
          weight: 400;
        }
        line-height: 2vw;
      }
    }
  }
  //タブレット版
  @include tb {
    &__profile {
      width: 100%;
      align-items: flex-start;
      img {
        width: 25%;
      }
      &__description {
        width: 70%;
        h2 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1.3rem;
          line-height: 2.5rem;
        }
      }
    }
  }
  //モバイル版
  @include mb {
    padding: 40px 50px;
    &__profile {
      flex-direction: column;
      align-items: center;
      img {
        width: 80%;
        margin-bottom: 30px;
      }
      &__description {
        width: 100%;
        h2 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1.5rem;
          line-height: 3rem;
        }
      }
    }
  }
}

//強みの装飾
.section-strong {
  padding: 0 100px;
  margin-bottom: 10vw;
  &__contain {
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    p {
      width: 60%;
      line-height: 2vw;
      font: {
        size: 1.2vw;
        weight: 400;
      }
      padding-left: 50px;
    }
    &__point {
      width: 40%;
      height: 15vw;
      border-radius: 100px 0 100px 0;
      text-align: center;
      font: {
        size: 2.5vw;
        weight: 700;
        style: italic;
      }
      line-height: 15vw;
      color: $pointColor;
      background-color: $acsentColor;
    }
  }
  //タブレット版
  @include tb {
    &__contain {
      p {
        font-size: 1.4rem;
        line-height: 2.8rem;
      }
      &__point {
        height: 200px;
        line-height: 200px;
      }
    }
  }
  //モバイル版
  @include mb {
    padding: 0 50px;
    &__contain {
      flex-direction: column;
      p {
        width: 100%;
        font-size: 1.4rem;
        line-height: 2.8rem;
        padding: 0;
      }
      &__point {
        width: 100%;
        height: 180px;
        line-height: 180px;
        margin-bottom: 30px;
        h3 {
          font-size: 2.5rem;
        }
      }
    }
  }
}
.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
//趣味部分の装飾
.section-favorite, .section-after {
  padding: 0 100px;
  margin-bottom: 5vw;
  h2 {
    font: {
      size: 1.8vw;
      weight: 600;
    }
    padding: 1rem 1rem;
    border-left: solid 10px $acsentColor;
    margin-bottom: 2vw;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    li {
      width: 35%;
      padding-right: 2vw;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      img {
        width: 10%;
      }
      p {
        width: 83%;
        font: {
          size: 1.3vw;
          weight: 400;
        }
        line-height: 2.5vw;
        span {
          font: {
            size: 1.5vw;
            weight: 500;
          }
        }
      }
    }
  }
  //タブレット版
  @include tb {
    h2 {
      font-size: 1.8rem;
    }
    &__list {
      justify-content: space-around;
      li {
        width: 30%;
        padding-right: 10px;
        img {
          width: 13%;
        }
        p {
          width: 85%;
          font-size: 1.3rem;
          line-height: 2.5rem;
          span {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  //モバイル版
  @include mb {
    padding: 0 50px;
    h2 {
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
    &__list {
      flex-direction: column;
      li {
        width: 100%;
        margin-bottom: 30px;
        img {
          width: 13%;
        }
        p {
          width: 82%;
          font-size: 1.4rem;
          line-height: 2.8rem;
          span {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
.section-after {
  margin-bottom: 10vw;
}
.btnarrow {
  padding: 0 100px;
  margin-right: 0;
  margin-bottom: 20px;
  //モバイル版
  @include mb {
    padding: 0 50px;
  }
}
.btnarrow-back {
  padding: 0 100px;
  margin-bottom: 5vw;
  //モバイル版
  @include mb {
    padding: 0 50px;
    margin-bottom: 100px;
  }
}

