$bgColor: #fdffff;
$acsentColor: #c1e4e9;
$pointColor: #192f60;
$titleFontSize: 8vw;
$mbTitleFontSize: 4rem;
$titleFontColor: #b4b4b4;

@mixin pc {
  @media(min-width: 700px) {
      @content;
  }
}
@mixin tb {
  @media(min-width: 700px)  and (max-width: 1000px) {
      @content;
  }
}
@mixin mb {
  @media(max-width: 700px) {
      @content;
  }
}

//矢印リンクの装飾
@import "linkarrow";

//タイトルの装飾
@import "title";

//topの装飾
.section-top {
  position: relative;
  height: 100vh;
  padding: 0 100px;
  margin-bottom: 50px;
  h1 {
    font: {
      size: 5vw;
      weight: 800;
      style: italic;
    }
    padding-top: 50vh;
    text-align: right;
    line-height: 5vw;
    color: $pointColor;
    animation-name: fadeLeftAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
      span {
      font-size: 8vw;
    }
  }
  @keyframes fadeLeftAnime {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      transform: translateX(0);
    }
  }
//topのモバイル版
  @include mb {
    padding: 0 50px;
    text-align: right;
    h1 {
      font-size: 4rem;
      line-height: 6rem;
      padding-top: 40vh;
      span {
        font-size: 5.5rem;
      }
    }
  }
}


//headerの装飾
.sidebar {
  position: fixed;
  top: 8vw;
  left: 0;
  padding-left: 100px;
  width: 15%;
  animation-name: fadeRightAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  &__list {
    list-style: none;
    li {
      margin-bottom: 40px;
    }
    &__link {
      font: {
        size: 2.3vw;
        weight: 300;
        family: 'IBM Plex Mono', monospace;
      }
    }
  }
  &__snslink {
    display: flex;
    justify-content: flex-start;
    a {
      font: {
        size: 1.3vw;
        weight: 300;
        family: 'IBM Plex Mono', monospace;
      }
    }
    p {
      font-size: 1.3vw;
      margin: 0 1rem;
    }
  }
  @keyframes fadeRightAnime {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }
  //タブレット版
  @include tb {
    padding-left: 50px;
    &__list {
      li {
        margin-bottom: 2.5rem;
        a {
          font-size: 2rem;
        }
      }
    }
    &__snslink {
      a {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
  //モバイル版
  @include mb {
    display: none;
  }
}

//aboutmeの装飾
.section-aboutme {
  padding: 0 100px;
  margin-bottom: 15vw;
  padding-left: 15vw;
  font: {
    size: 1.5vw;
    weight: 400;
  }
  line-height: 2.5vw;
  &__profile {
    margin-left: 10vw;
    margin-bottom: 3vw;
    padding-top: 20px;
  }
  &__avispa {
    margin-left: 10vw;
    margin-bottom: 20px;
  }
  //タブレット版
  @include tb {
    font-size: 1.5rem;
    line-height: 2.8rem;
    &__profile {
      margin-left: 10rem;
      margin-bottom: 10px;
    }
    &__avispa {
      margin-left: 10rem;
    }
    .btnarrow {
      margin-right: 0;
    }
  }
  //モバイル版
  @include mb {
    padding: 0 50px;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 80px;
    &__profile {
      margin-left: 0;
    }
    &__avispa {
      margin-left: 0;
      margin-bottom: 0;
    }
    .btnarrow {
      margin-right: 0;
    }
  }
}

//skillの装飾
.section-skill {
  padding: 0 100px;
  margin-bottom: 15vw;
  &__cards {
    width: 70vw;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    animation-name: fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    &__contain {
      width: 20vw;
      min-width: 230px;
      height: 350px;
      background-color: #fff;
      border: solid 10px $acsentColor;
      margin: 0 20px 40px 0;
      border-radius: 20px;
      &__first {
        width: 100%;
        padding-bottom: 10px;
        background-color: $acsentColor;
        text-align: center;
        &__imgbox {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            width: 20%;
            margin-bottom: 10px;
          }
        }
        &__singleimg {
          width: 20%;
          img {
            margin-bottom: 10px;
          }
        }
        &__title {
          text-align: center;
          margin-bottom: 10px;
          font: {
            size: 1.8rem;
            weight: 600;
          }
        }
      }
      &__description {
        width: 90%;
        padding: 8px;
        margin: 0 auto;
        font: {
          size: 1.9rem;
          weight: 400;
        }
        line-height: 3rem;
      }
    }
    &__contain:last-child {
      width: 250px;
      height: 50px;
      background-color: $bgColor;
      border: none;
    }
  }
  .btnarrow {
    width: 20vw;
    text-align: left;
    margin: 0 20px 30px 0;
    padding: 10px;
  }
  .fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  @keyframes fadeUpAnime {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @include tb {
    &__cards {
      width: 75vw;
      &__contain {
        border: solid 8px $acsentColor;
        min-width: initial;
        width: 170px;
        height: 250px;
        margin: 8px;
        &__first {
          padding-bottom: 3px;
          &__title {
            font-size: 1.5rem;
            margin-top: 5px;
          }
        }
        &__description {
          font-size: 1.3rem;
          line-height: 2.3rem;
        }
      }
      .btnarrow {
        width: 170px;
        margin: 8px;
        padding: 8px;
        text-align: right;
      }
    }
  }
  @include mb {
    padding: 0 50px;
    margin-bottom: 80px;
    &__cards {
      width: 100%;
      flex-direction: column;
      margin-left: 0;
      &__contain {
        border: solid 8px $acsentColor;
        width: 90%;
        height: 280px;
        margin: 0 0 20px 0;
        &__first {
          padding-bottom: 3px;
          &__title {
            font-size: 1.8rem;
            margin-top: 5px;
          }
        }
        &__description {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }
      .btnarrow {
        width: 170px;
        margin: 5px;
        padding: 8px;
        text-align: right;
      }
    }
  }
}

//workの装飾
@import "worklist";
.section-work {
  margin-bottom: 130px;
}

//ハンバーガーメニューの装飾
@import 'hamburger';



