$bgColor: #fdffff;
$acsentColor: #c1e4e9;
$pointColor: #192f60;
$titleFontSize: 8vw;
$titleFontColor: #b4b4b4;

@mixin pc {
  @media(min-width: 700px) {
      @content;
  }
}
@mixin tb {
  @media(min-width: 700px)  and (max-width: 1000px) {
      @content;
  }
}
@mixin mb {
  @media(max-width: 700px) {
      @content;
  }
}

//矢印リンクの装飾
@import "linkarrow";
//タイトルの装飾
@import "title";
//topの装飾
.section-top {
  position: relative;
  height: 100vh;
  padding: 0 100px;
  h1 {
    font: {
      size: 5vw;
      weight: 800;
      style: italic;
    }
    padding-top: 50vh;
    text-align: right;
    line-height: 5vw;
    color: $pointColor;
    animation-name: fadeLeftAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
      span {
      font-size: 8vw;
    }
  }
  @keyframes fadeLeftAnime {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      transform: translateX(0);
    }
  }

}
//headerの装飾
.sidebar {
  position: fixed;
  top: 8vw;
  left: 0;
  padding-left: 100px;
  width: 15%;
  animation-name: fadeRightAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  &__list {
    list-style: none;
    li {
      margin-bottom: 40px;
    }
    &__link {
      font: {
        size: 2.3vw;
        weight: 300;
        family: 'IBM Plex Mono', monospace;
      }
    }
  }
  &__snslink {
    display: flex;
    justify-content: flex-start;
    a {
      font: {
        size: 1.3vw;
        weight: 300;
        family: 'IBM Plex Mono', monospace;
      }
      margin-right: 1.5rem;
    }
    p {
      font-size: 1.3vw;
      margin-right: 1.5rem;
    }
  }
  @keyframes fadeRightAnime {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }
}
//aboutmeの装飾
.section-aboutme {
  padding: 0 100px;
  margin-bottom: 15vw;
  padding-left: 15vw;
  font: {
    size: 1.5vw;
    weight: 400;
  }
&__profile {
    margin-left: 10vw;
    margin-bottom: 3vw;
    line-height: 2.5vw;
  }
  &__avispa {
    margin-left: 10vw;
    margin-bottom: 20px;
    line-height: 2.5vw;
  }
}
//skillの装飾
.section-skill {
  padding: 0 100px;
  margin-bottom: 15vw;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 15vw;
    list-style: none;
    animation-name: fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    &__contain {
      width: 230px;
      height: 300px;
      background-color: #fff;
      border: solid 15px $acsentColor;
      margin: 15px;
      border-radius: 20px;
      &__first {
        width: 100%;
        padding-bottom: 10px;
        background-color: $acsentColor;
        text-align: center;
        &__imgbox {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            width: 20%;
          }
        }
        &__singleimg {
          width: 20%;
        }
        &__title {
          text-align: center;
          margin-bottom: 10px;
          font: {
            size: 1.5vw;
            weight: 600;
          }
        }
      }
      &__description {
        width: 90%;
        margin: 25px auto;
        font: {
          size: 1.5rem;
          weight: 400;
        }
        line-height: 2.8rem;
      }
    }
    &__contain:last-child {
      width: 250px;
      height: 50px;
      background-color: $bgColor;
      border: none;
    }
  }
  .btnarrow {
    width: 230px;
    text-align: left;
    margin: 15px;
    padding: 15px;
  }
  .fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  @keyframes fadeUpAnime {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
//workの装飾
@import "worklist";
.section-work__contain {
  margin-left: 210px;
}

