$bgColor: #fdffff;
$acsentColor: #c1e4e9;
$pointColor: #192f60;
$titleFontSize: 8vw;
$mbTitleFontSize: 4rem;
$titleFontColor: #b4b4b4;

@mixin pc {
  @media(min-width: 700px) {
      @content;
  }
}
@mixin tb {
  @media(min-width: 700px)  and (max-width: 1000px) {
      @content;
  }
}
@mixin mb {
  @media(max-width: 700px) {
      @content;
  }
}

//矢印リンクの装飾
@import "linkarrow";
//タイトルの装飾
@import "title";

//作品の概要部分の装飾
.section-introduce {
  padding: 5vw 100px;
  a {
    font-size: 2vw;
    margin-bottom: 1.5vw;
  }
  &__attention {
    font: {
      size: 1.8rem;
      weight: 400;
    }
    color: $pointColor;
    line-height: 3rem;
    margin-bottom: 1.5vw;
  }
  &__description {
    font: {
      size: 2rem;
      weight: 500;
    }
    line-height: 3rem;
    margin-bottom: 5vw;
  }
  &__image {
    text-align: right;
    margin-bottom: 5vw;
    img {
      width: 600px;
    }
  }
  //タブレット版
  @include tb {
    a {
      font-size: 2rem;
    }
    &__description {
      font-size: 1.5rem;
    }
    &__image {
      img {
        width: 350px;
      }
    }
  }
  //モバイル版
  @include mb {
    padding: 40px 50px;
    a {
      font-size: 1.8rem;
      line-height: 3rem;
    }
    &__attention {
      font-size: 1.3rem;
      margin-bottom: 3rem;
      line-height: 2rem;
    }
    &__description {
      font-size: 1.5rem;
      margin-bottom: 3rem;
      line-height: 2.5rem;
    }
    &__image {
      margin-bottom: 50px;
      img {
        width: 100%;
      }
    }
  }
}

//詳細の装飾
.section-description {
  padding: 0 100px;
  margin-bottom: 5vw;
  &__contain {
    margin-bottom: 3rem;
    h2 {
      font: {
        size: 2rem;
        weight: 600;
      }
      margin-bottom: 1rem;
    }
    p {
      padding-right: 15vw;
      font: {
        size: 1.8rem;
        weight: 400;
      }
      line-height: 3rem;
    }
    padding: 1rem 2rem;
    border-left: solid 10px $acsentColor;
  }
  //タブレット版
  @include tb {
    &__contain {
      padding: 1rem 0;
      padding-left: 2rem;
      h2 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.5rem;
        padding-right: 0;
      }
    }
  }
  //モバイル版
  @include mb {
    padding: 0 50px;
    margin-bottom: 60px;
    &__contain {
      padding: 0.5rem 0;
      padding-left: 1rem;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.4rem;
        line-height: 2.8rem;
        padding-right: 0;
      }
    }
  }
}
//スクリーンショットの装飾
.section-image, .section-image-portfolio {
  margin: 0 100px 3vw 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  &__screenshot {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 50px;
    padding: 20px;
    &__pc {
      width: 70%;
      object-fit: contain;
      padding-right: 10px;
    }
    &__mb {
      width: 25%;
      object-fit: contain;
    }
  }
  //タブレット版
  @include tb {
    flex-direction: column;
    margin: 0 100px;
    &__screenshot {
      padding: 0;
    }
  }
  //モバイル版
  @include mb {
    flex-direction: column;
    margin: 0 50px;
    &__screenshot {
      padding: 0;
    }
  }
}
.section-image-portfolio {
  background-color: $titleFontColor;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 60px;
  &__screenshot {
    margin-bottom: 0;
    &__mb {
      width: 28%;
    }
  }
}
.btnarrow-back {
  padding: 0 100px;
  margin-bottom: 20px;
  //モバイル版
  @include mb {
    padding: 0 50px;
  }
}

small {
  padding-top: 60px;
}