.title-skyblue {
  font-size: 8vw;
  font-style: italic;
  color: #c1e4e9;
  margin-bottom: 3vw;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .title-skyblue {
    margin-bottom: 3rem;
  }
}

@media (max-width: 700px) {
  .title-skyblue {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}

.title {
  font-size: 8vw;
  font-style: italic;
  color: #b4b4b4;
  margin-bottom: 3vw;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .title {
    margin-bottom: 3rem;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}

.section-work {
  padding: 5vw 100px;
  margin-bottom: 5vw;
}

.section-work__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0;
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.section-work__contain__linkbox {
  width: 40%;
  margin-bottom: 2vw;
  text-decoration: none;
  color: #333;
}

.section-work__contain__linkbox img {
  width: 100%;
  margin: 0 auto;
}

.section-work__contain__linkbox p {
  font-size: 1.5vw;
  font-weight: 500;
}

.section-work .btnarrow {
  margin: 0 0 0 auto;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .section-work__contain__linkbox {
    width: 45%;
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .section-work {
    padding: 40px 50px;
    margin-bottom: 0;
  }
  .section-work__contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-work__contain__linkbox {
    width: 100%;
    margin-bottom: 40px;
  }
  .section-work__contain__linkbox p {
    font-size: 1.8rem;
  }
}

.btnarrow {
  text-align: right;
  margin-right: 20vw;
}

.btnarrow__more {
  position: relative;
  background: #192f60;
  padding: 15px 75px 15px 50px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #fff;
  text-decoration: none;
  border: transparent 2px solid;
  outline: none;
  font-size: 1.5vw;
  border-radius: 8px;
}

.btnarrow__more:hover {
  background: #fdffff;
  color: #333;
  border-color: #192f60;
}

.btnarrow__more:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 1px;
  background: #fff;
}

.btnarrow__more:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
  border: 4px solid transparent;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-color: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.btnarrow__more:hover::before {
  background: #333;
  right: 25px;
}

.btnarrow__more:hover::after {
  border-left-color: #333;
  right: 20px;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .btnarrow__more {
    padding: 10px 40px 10px 30px;
    font-size: 1.5rem;
  }
  .btnarrow__more:before {
    width: 13px;
  }
}

@media (max-width: 700px) {
  .btnarrow__more {
    padding: 10px 40px 10px 30px;
    font-size: 1.5rem;
  }
  .btnarrow__more:before {
    width: 13px;
  }
}

.btnarrow-back {
  text-align: right;
}

.btnarrow-back__more {
  position: relative;
  background: #192f60;
  padding: 15px 50px 15px 75px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #fff;
  text-decoration: none;
  border: transparent 2px solid;
  outline: none;
  font-size: 1.5vw;
  border-radius: 8px;
}

.btnarrow-back__more:hover {
  background: #fdffff;
  color: #333;
  border-color: #192f60;
}

.btnarrow-back__more:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  width: 20px;
  height: 1px;
  background: #fff;
}

.btnarrow-back__more:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  border: 4px solid transparent;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-right-color: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.btnarrow-back__more:hover::before {
  background: #333;
  left: 25px;
}

.btnarrow-back__more:hover::after {
  border-right-color: #333;
  left: 20px;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .btnarrow-back__more {
    padding: 10px 30px 10px 40px;
    font-size: 1.5rem;
  }
  .btnarrow-back__more:before {
    width: 13px;
  }
}

@media (max-width: 700px) {
  .btnarrow-back__more {
    padding: 10px 30px 10px 40px;
    font-size: 1.5rem;
  }
  .btnarrow-back__more:before {
    width: 13px;
  }
}
